# Ignore .env file
.env

# Ignore config files
.ebextensions/
.ebextensions/*.config
app.config

# Ignore cache files
__pycache__/*
*.pyc

# Ignore assets
*.mp4
*.ico
*.png

# Ignore zip files
timeaudit.zip
# Ignore database file
timeaudit.db