<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            /* Prevent FOUC */
            html {
                visibility: hidden;
                opacity: 0;
            }
        </style>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6EBSYWNSLZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-6EBSYWNSLZ');
        </script>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Calendar | TimeAudit</title>
        <meta name="description" content="Schedule and log your activities with TimeAudit's calendar feature. Easily track your time and manage your tasks.">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
        <script src="{{ url_for('static', filename='calendar.js') }}" defer></script>
        <meta name="robots" content="noindex">
    </head>

    <body onresize="if (canShowLogged()) {removeActivityBlocks(); loadActivities(); } if (canShowScheduled()) {removeScheduledActivityBlocks(); loadScheduledActivities(); } " style="font-family: 'Poppins';">
        <div class="loading-screen" id="loading-screen">
            <div class="loading-text-container">
                <span class="loading-text">Loading</span>
                <span class="loading-logo">TimeAudit</span>
            </div>
            <div class="loading-spinner"></div>
        </div>

        <div class="generate-schedule-loading-screen" id="generate-schedule-loading-screen" hidden>
            <div class="loading-text-container">
                <span class="loading-text">Generating schedule...</span>
            </div>
            <div class="loading-spinner"></div>
        </div>


        <div class="title-bar">
            <a href="/">
                <p id="main-title">TimeAudit</p>
            </a>

            {% if email_address and streak %}
                <div class="email-container">
                    <span class="streak">{{ streak }}</span>
                    <span class="email-address prevent-select">{{ email_address }}</span>
                    <button class="logout-button" onclick="logout();">Log out</button>

                    <div class="email-menu" hidden>
                        <button class="change-email-button" onclick="openChangeEmailMenu()">Change email address</button>
                        <button class="delete-account-button" onclick="openDeleteAccountMenu()">Delete account</button>
                    </div>
                </div>

            {% else %}
                <a class="login-button" href="login">Log in</a>
            {% endif %}
        </div>

        <div class="nav-bar">
            <nav id="nav">
                <!--<a href="/">Home</a>-->
                <a href="calendar">Calendar</a>
                <a href="audit">Audit</a>
                <a href="tasks">Tasks</a>
            </nav>

        </div>

        <div class="top-bar">

            <label for="scheduled-checkbox" class="scheduled-checkbox-label">Show scheduled</label>
            <input type="checkbox" id="scheduled-checkbox" name="scheduled-checkbox" onchange="toggleScheduled()" checked>

            <label for="logged-checkbox" class="logged-checkbox-label">Show logged</label>
            <input type="checkbox" id="logged-checkbox" name="logged-checkbox" onchange="toggleLogged()" checked>

            <button id="scheduled-add-button" onclick="openScheduledAddMenu(); closeAddMenu();">Schedule activity</button>
            <button id="stop-button" onclick="stopActivity();" hidden>Stop activity</button>
            <button id="add-button" onclick="openAddMenu(); closeScheduledAddMenu();">Start/log activity</button>

            <button id="generate-schedule-button" onclick="openGenerateScheduleMenu();">✨Generate schedule✨</button>
            <button id="confirm-schedule-button" onclick="confirmSchedule();" hidden>✓</button>
            <button id="refresh-schedule-button" onclick="refreshSchedule();" hidden>⟳</button>
            <button id="cancel-schedule-button" onclick="cancelSchedule();" hidden>×</button>
        </div>

        <div class="month-bar">
            <button id="prev-button" onclick="goToPreviousWeek();">&lt;</button>

            <button id="next-button" onclick="goToNextWeek();">&gt;</button>

            <p id="month-year"></p>

            <!--<select id="view">
                <option value="week">Week</option>
                <option value="day">Day</option>
            </select>-->
        </div>

        <div class="add-menu" id="add-activity-menu" hidden="true">
            <h2>Start or log an activity</h2>
            <form action="" method="POST">
                <label for="activity-name">Activity name</label>
                <input type="text" id="activity-name" name="activity-name" required><br><br>

                <p class="error-text" id="activity-name-error" hidden>Please enter an activity name.</p>

                <label for="category">Category</label>
                <select id="category" name="category">
                    <option value="Work/Study">Work/Study</option>
                    <option value="Exercise">Exercise</option>
                    <option value="Social">Social</option>
                    <option value="Chores/Errands">Chores/Errands</option>
                    <option value="Eat/Drink">Eat/Drink</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Wasted time">Wasted time</option>
                    <option value="Personal care">Personal care</option>
                    <option value="Sleep/Napping">Sleep/Napping</option>
                    <option value="Travel">Travel</option>
                    <option value="Planning/Reflection">Planning/Reflection</option>
                    <option value="Other">Other</option>
                </select><br><br>

                <label for="start-now">Start now</label>
                <input type="checkbox" id="start-now" name="start-now" value="Start activity now?" checked onchange="onStartNowCheckboxChange();"><br><br>

                <label for="start-time">Start time</label>
                <input type="time" id="start-time" class="time-input" name="start-time" disabled><br><br>

                <label for="end-time">End time</label>
                <input type="time" id="end-time" class="time-input" name="end-time" disabled><br><br>

                <p class="error-text" id="time-input-error" hidden>Please enter a valid pair of times that aren't already occupied by an activity.</p>

                <label for="link-to-goal">Link to task?</label>
                <select id="link-to-goal" name="link-to-goal">
                    <!--Will be populated with JS-->
                </select><br><br>

                <!--<input type="submit" value="Add activity">-->
                <button type="button" onclick="closeAddMenu();">Cancel</button>
                <button type="button" onclick="addActivity();">Add activity</button>
            </form>
        </div>

        <div class="add-menu" id="edit-activity-menu" hidden>
            <h2>Edit activity</h2>

            <form action="" method="POST">
                <label for="edit-activity-name">Activity name</label>
                <input type="text" id="edit-activity-name" name="activity-name" required><br><br>

                <p class="error-text" id="edit-activity-name-error" hidden>Please enter an activity name.</p>

                <label for="edit-category">Category</label>
                <select id="edit-category" name="category">
                    <option value="Work/Study">Work/Study</option>
                    <option value="Exercise">Exercise</option>
                    <option value="Social">Social</option>
                    <option value="Chores/Errands">Chores/Errands</option>
                    <option value="Eat/Drink">Eat/Drink</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Wasted time">Wasted time</option>
                    <option value="Personal care">Personal care</option>
                    <option value="Sleep/Napping">Sleep/Napping</option>
                    <option value="Travel">Travel</option>
                    <option value="Planning/Reflection">Planning/Reflection</option>
                    <option value="Other">Other</option>
                </select><br><br>

                <label for="edit-start-time">Start time</label>
                <input type="time" id="edit-start-time" class="time-input" name="start-time" disabled><br><br>

                <label for="edit-end-time">End time</label>
                <input type="time" id="edit-end-time" class="time-input" name="end-time" disabled><br><br>

                <p class="error-text" id="edit-time-input-error" hidden>Please enter a valid pair of times that aren't already occupied by an activity.</p>

                <label for="edit-link-to-goal">Link to task?</label>
                <select id="edit-link-to-goal" name="link-to-goal">
                    <!--Will be populated with JS-->
                </select><br><br>

                <!--<input type="submit" value="Add activity">-->
                <button type="button" onclick="closeEditMenu();">Cancel</button>
                <button type="button" onclick="editActivity();">Confirm</button>
            </form>

        </div>

        <div class="add-menu" id="add-scheduled-activity-menu" hidden>
            <h2>Schedule an activity</h2>
            <form action="" method="POST">
                <label for="scheduled-activity-name">Activity name</label>
                <input type="text" id="scheduled-activity-name" name="scheduled-activity-name" required><br><br>

                <p class="error-text" id="scheduled-activity-name-error" hidden>Please enter a scheduled activity name.</p>

                <label for="scheduled-category">Category</label>
                <select id="scheduled-category" name="scheduled-category">
                    <option value="Work/Study">Work/Study</option>
                    <option value="Exercise">Exercise</option>
                    <option value="Social">Social</option>
                    <option value="Chores/Errands">Chores/Errands</option>
                    <option value="Eat/Drink">Eat/Drink</option>
                    <option value="Good leisure">Good leisure</option>
                    <option value="Bad leisure">Bad leisure</option>
                    <option value="Personal care">Personal care</option>
                    <option value="Sleep/Napping">Sleep/Napping</option>
                    <option value="Travel">Travel</option>
                    <option value="Planning/Reflection">Planning/Reflecting</option>
                    <option value="Other">Other</option>
                </select><br><br>

                <label for="scheduled-start-time">Start time</label>
                <input type="time" id="scheduled-start-time" class="time-input" name="scheduled-start-time" required><br><br>

                <label for="scheduled-end-time">End time</label>
                <input type="time" id="scheduled-end-time" class="time-input" name="scheduled-end-time" required><br><br>

                <p class="error-text " id="scheduled-time-input-error" hidden>Please enter a valid pair of times that aren't already occupied by an activity.</p>

                <label for="scheduled-date">Date</label>
                <input type="date" id="scheduled-date" name="scheduled-date" required><br><br>

                <p class="error-text" id="scheduled-date-error" hidden>Please enter a valid date in the future.</p>

                <button type="button" onclick="closeScheduledAddMenu()">Cancel</button>
                <button type="button" onclick="addScheduledActivity()">Schedule activity</button>
            </form>
        </div>

        <div class="add-menu" id="generate-schedule-menu" hidden>
            <h2>✨Generate schedule✨</h2>
            <form action="" method="POST">
                <p>Generating a schedule will use AI to create a plan for you based on your activities and tasks. You can then confirm or refresh the schedule.</p>

                <label for="generate-schedule-start-time">Start time</label>
                <input type="time" id="generate-schedule-start-time" class="time-input" name="generate-schedule-start-time" required><br><br>

                <label for="generate-schedule-end-time">End time</label>
                <input type="time" id="generate-schedule-end-time" class="time-input" name="generate-schedule-end-time" required><br><br>

                <p class="error-text" id="generate-schedule-time-input-error" hidden>Please enter a valid pair of times.</p>

                <label for="generate-schedule-start-date">Start date</label>
                <input type="date" id="generate-schedule-start-date" name="generate-schedule-start-date" required><br><br>

                <label for="generate-schedule-end-date">End date</label>
                <input type="date" id="generate-schedule-end-date" name="generate-schedule-end-date" required><br><br>

                <p class="error-text" id="generate-schedule-date-error" hidden>Please enter a valid date range. The maximum duration is 7 days.</p>

                <button type="button" onclick="closeGenerateScheduleMenu();">Cancel</button>
                <button type="button" onclick="generateSchedule();">Generate schedule</button>
            </form>
        </div>

        <div class="change-email-menu" hidden>
            <h2>Change email address</h2>
            
            <label for="new-email">New email address</label>
            <input type="email" id="new-email" name="new-email" required><br><br>

            <p class="error-text" id="invalid-email-error" hidden>Please enter a valid email address.</p>
            <p class="error-text" id="generic-email-error" hidden>There was an error changing your email address. Please try again later.</p>
            <p class="error-text" id="email-exists-error" hidden>An account with this email address already exists.</p>

            <button type="button" onclick="closeChangeEmailMenu();">Cancel</button>
            <button type="button" onclick="changeEmailAddress();">Change email</button>
        </div>

        <div class="delete-account-menu" hidden>
            <h2>Delete account</h2>
            <p>Are you sure you want to delete your account? This action cannot be undone.</p>

            <button type="button" onclick="closeDeleteAccountMenu()">Cancel</button>
            <button type="button" onclick="deleteAccount()" class="delete-account-button">Delete account</button>
        </div>

        <div id="calendar">
            <div class="header">
                <div class="time-label"></div>
                <div class="day">Monday</div>
                <div class="day">Tuesday</div>
                <div class="day">Wednesday</div>
                <div class="day">Thursday</div>
                <div class="day">Friday</div>
                <div class="day">Saturday</div>
                <div class="day">Sunday</div>
            </div>

            <div class="body">
                <!-- Calendar body will be populated with JavaScript -->
                 <div class="time-column"></div>
                 
                 <div class="calendar-grid">
                    <div class="time-line"></div>
                 </div>

            </div>
        </div>

        <div class="toast-notification">
            <span class="toast-message">You just started a streak!</span>

            <button class="toast-close-button" onclick="closeToastNotification();">×</button>
        </div>
        <!--<div class="banner" hidden>
            <span>⚠️ You are logged out. Log in to sync your data between devices. ⚠️</span>
        </div>-->
    </body>
</html>