<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; overflow-x: hidden;">
    <head>
        <style>
            /* Prevent FOUC */
            html {
                visibility: hidden;
                opacity: 0;
            }
        </style>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6EBSYWNSLZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-6EBSYWNSLZ');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimeAudit | Free AI Time Tracker for Students and Professionals</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <meta name="description" content="TimeAudit is a free AI time tracking tool designed for both students and professionals. Track your time (conduct a time audit), plan your tasks, and improve your productivity effortlessly - no signup required.">
        <meta name="keywords" content="time tracking, time tracker, calendar, AI scheduling, AI calendar, productivity, time management, free time tracker, time audit, students, personal, individuals, professionals, time audit app, time tracking app, free time tracking app, AI time tracker, AI calendar app">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    </head>
    <body style="font-family: 'Poppins';">
        <div class="title-bar" style="position: fixed; top: 0;">
            <a href="/">
                <p id="main-title">TimeAudit</p>
            </a>
            <div class="button-container">
                <a class="landing-page-login-button" href="/login">Log in</a>
                <a class="top-start-tracking-button" href="/calendar">Start tracking for free</a>
            </div>
        </div>

        <!--<div class="nav-bar">
            <nav id="nav">
                <a href="/">Home</a>
                <a href="calendar">Calendar</a>
                <a href="statistics">Statistics</a>
                <a href="goals">Goals</a>
            </nav>

        </div>-->

        <!--<div class="top-bar"></div>-->

        <div class="home-container">
            <div class="gradient-overlay"></div>

            <div class="hero-container">
                <h1 class="hero">Do <span class="highlight">more</span>. Master your <span class="highlight">time</span>. Build better <span class="highlight">habits</span>.</h1>

                <h3 class="hero-explanation">TimeAudit combines <span class="highlight">time tracking</span> and <span class="highlight">AI-powered scheduling</span> to make it impossible not to stay on top of your tasks. Plan, track and analyse your time effortlessly: <span class="highlight">try now for free</span>, no sign-up required.</h3>

                <a href="calendar" class="start-tracking-button">Start tracking for free</a>

                <!--<img class="hero-image" src="{{url_for('static', filename='hero_image.png') }}" alt="TimeAudit tracking interface" width="1000", height="600">-->
                <video class="hero-video" muted loop autoplay>
                    <source src="{{url_for('static', filename='app_demo.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="landing-page-banner">
                <h2 class="landing-page-subheading">Who uses TimeAudit?</h2>

                <div class="suitable-for-box">
                    <div class="suitable-for-container">
                        <p class="suitable-for-item">Students</p>
                        <p class="suitable-for-subitem">✅ Track your time and hit your study goals</p>
                        <p class="suitable-for-subitem">✅ Balance studies and personal life effortlessly with AI scheduling</p>
                    </div>
                    <div class="suitable-for-container">
                        <p class="suitable-for-item">Professionals</p>
                        <p class="suitable-for-subitem">✅ See where all your time goes and focus on what matters</p>
                        <p class="suitable-for-subitem">✅ Schedule your tasks effectively and keep on top of deadlines</p>
                    </div>
                    <!--<p class="suitable-for-item">✅ Anyone who wants to improve their time management</p>
                    <p class="suitable-for-subitem">Track your time and build better habits</p>-->
                </div>

                <a href="calendar" class="start-tracking-button-inverted">Start tracking now</a>
            </div>

            <h2 class="landing-page-subheading">How TimeAudit works</h2>

            <div class="tutorial-box">
                <video class="tutorial-video" muted loop autoplay>
                    <source src="{{url_for('static', filename='calendar_demo.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <span>Log an activity by clicking the start button and entering the activity details. You can add previously-completed activities and track current activities.</span>
                <!--<img class="tutorial-gif" src="{{url_for('static', filename='hero_image.png') }}" alt="Gif showing how to log an activity" width="500" height="300">-->
            </div>

            <div class="tutorial-box">
                <!--<img class="tutorial-gif" src="{{url_for('static', filename='hero_image.png') }}" alt="Gif showing how to add a goal" width="500" height="300">-->
                <video class="tutorial-video" muted loop autoplay>
                    <source src="{{url_for('static', filename='goals_demo.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <span>Add customised tasks and track each task's progress. Link a task when adding an activity to the calendar to complete tasks and stay accountable.</span>
            </div>

            <div class="tutorial-box">
                <img class="tutorial-gif" src="{{url_for('static', filename='statistics.png') }}" alt="Gif showing statistics page">
                <span>View statistics and insights to improve your productivity.</span>
            </div>

            <a href="calendar" class="start-tracking-button">Try TimeAudit now</a>

            <div class="landing-page-banner">
                <!--<h2 class="testimonial-heading">What our users say</h3>-->

                <div class="testimonial-box">
                    <p class="testimonial-text">"TimeAudit is so effortless to use, it helps me keep on top of my studies and my social life."</p>
                    <span class="testimonial-author">- Alex, First Year Student</span>
                </div>
            </div>


            <h2 class="landing-page-subheading">Why use TimeAudit?</h2></h3>

            <div class="features-row">

                <div class="feature-box">
                    <h4 class="feature-heading">⏰ Frictionless time tracking</h4>
                    <p>Track your time with the click of a button</p>
                </div>
                <div class="feature-box">
                    <h4 class="feature-heading">🤖 AI scheduling</h4>
                    <p>Let our AI plan your tasks and schedule them for you</p>
                </div>
                

                <div class="feature-box">
                    <h4 class="feature-heading">📊 Statistics</h4>
                    <p>Track how you are using your time with graphs and charts</p>
                </div>

                <div class="feature-box">
                    <h4 class="feature-heading">🎯 Task tracking</h4>
                    <p>Meet your targets and stay accountable with integrated tasks</p>
                </div>

                <div class="feature-box">
                    <h4 class="feature-heading">👤 No sign-up required</h4>
                    <p>Start tracking your time instantly - no account needed</p>
                </div>

                <!--<div class="feature-box">
                    <h4 class="feature-heading"> Effortless sync across devices</h4>
                    <p>Track your time on the go, whatever device you are using</p>
                </div>-->
            </div>

            <a href="calendar" class="start-tracking-button">Start tracking now</a>
            <footer class="footer">
                <span class="copyright">© 2025 TimeAudit. All rights reserved.</span>

                <div class="footer-link-container">
                    <a class="footer-link" href="terms-of-service">
                        <span class="terms-of-service">Terms of Service</span>
                    </a>

                    <a class="footer-link" href="privacy-policy">
                        <span class="privacy-policy">Privacy Policy</span>
                    </a>

                    <a class="footer-link" href="mailto:support@timeaudit.net">
                        <span class="contact-us">Contact us</span>
                    </a>
                </div>
            </footer>
        </div>
    </body>
</html>