<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            /* Prevent FOUC */
            html {
                visibility: hidden;
                opacity: 0;
            }
        </style>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6EBSYWNSLZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-6EBSYWNSLZ');
        </script>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Log in | TimeAudit</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <script src="{{url_for('static', filename='login.js') }}" defer></script>
    </head>
    <body style="font-family: 'Poppins';">
        <div class="title-bar">
            <a href="/">
                <p id="main-title">TimeAudit</p>
            </a>
        </div>

        <div class="login-menu">
            <h2 class="login-title">Log in</h2>

            <form action="" id="login-form" method="POST">
                <label for="email-address">Email address</label>
                <input type="email" id="email-address" name="email-address" required><br><br>
                <p class="error-text" id="email-error" hidden>You must enter a valid email address.</p>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required><br><br>
                <p class="error-text" id="empty-password-error" hidden>You must enter a password.</p>

                <input type="submit" value="Log in" class="login-button"><br><br>
            </form>

            <p class="error-text" id="incorrect-login-error" hidden>Incorrect username or password.</p>

            <p class="error-text" id="generic-login-error" hidden>An error occurred during login. Please try again later.</p>

            <span>Don't have an account?</span>
            <a href="signup">Sign up</a>
        </div>
    </body>

    <script>
        function validate() {
            const email = document.getElementById("email-address").value;
            const password = document.getElementById("password").value;

            if (!email) {
                event.preventDefault();
                const errorMessage = document.querySelector("#email-error");
                errorMessage.hidden = false;
            }

            if (!password) {
                event.preventDefault();
                const errorMessage = document.querySelector("#empty-password-error");
                errorMessage.hidden = false;
            }
        }

        const submitButton = document.querySelector(".login-button");
        submitButton.addEventListener("click", validate);
    </script>
</html>