<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            /* Prevent FOUC */
            html {
                visibility: hidden;
                opacity: 0;
            }
        </style>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6EBSYWNSLZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-6EBSYWNSLZ');
        </script>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Sign up | TimeAudit</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <script src="{{url_for('static', filename='signup.js') }}" defer></script>
    </head>
    <body style="font-family: 'Poppins';">
        <div class="title-bar">
            <a href="/">
                <p id="main-title">TimeAudit</p>
            </a>
        </div>

        <div class="signup-menu">
            <h2 class="signup-title">Sign up</h2>

            <form action="" id="signup-form" onsubmit="" method="POST">
                <label for="email-address">Email address</label>
                <input type="email" placeholder="me@example.com" id="email-address" name="email-address" required><br><br>

                <p class="error-text" id="email-error" hidden>You must enter a valid email address.</p>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required><br><br>

                <label for="confirm-password">Confirm password</label>
                <input type="password" id="confirm-password" name="confirm-password" required><br><br>

                <p class="error-text" id="empty-password-error" hidden>You must enter a password.</p>
                <p class="error-text" id="password-length-error" hidden>Passwords must be at least 8 characters long.</p>
                <p class="error-text" id="confirm-password-error" hidden>Passwords do not match.</p>

                <input type="submit" value="Sign up" class="login-button"><br><br>

                <p class="error-text" id="email-exists-error" hidden>An account with this email already exists. Please try a different email.</p>

                <p class="error-text" id="generic-signup-error" hidden>There was an error signing up. Please try again later.</p>

                <p class="terms-text">By signing up, you agree to our <a href="/terms-of-service">Terms of Service</a> and <a href="/privacy-policy">Privacy Policy</a>.</p>
            </form>
        </div>

    </body>

    <script>

        function validate(event) {
            const email = document.getElementById("email-address").value;
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirm-password").value;
            //console.log(password);
            //console.log(confirmPassword);

            if (password != confirmPassword) {
                // Prevent form submitting
                event.preventDefault();
                const errorMessage = document.querySelector("#confirm-password-error");
                errorMessage.hidden = false;
            }

            else if (!password || !confirmPassword) {
                // Prevent form submitting
                event.preventDefault();
                const errorMessage = document.querySelector("#empty-password-error");
                errorMessage.hidden = false;

            }

            else if (password.length < 8) {
                // Prevent form submitting
                event.preventDefault();
                const errorMessage = document.querySelector("#password-length-error");
                errorMessage.hidden = false;
            }

            if (!email) {
                event.preventDefault();
                const errorMessage = document.querySelector("#email-error");
                errorMessage.hidden = false;
            }
        }

        const submitButton = document.querySelector(".login-button");
        submitButton.addEventListener("click", validate);
    </script>
</html>